<div class="container-fluid my-3" style="height:80vh">
  <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>You don't need to go far to find what matters</h3>
          <p>All listing information at the tip of your fingertips.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Find a place to stay</h3>
          <p>Thousands of listings fitting your budget.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Experience your trip without worries</h3>
          <p>No one will read this.</p>
        </div>
      </ng-template>
    </ngb-carousel>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="my-3">
    <div class="row">
        <div class="col-9">
          <input 
            class="form-control" 
            formControlName="address" 
            ngx-google-places-autocomplete 
            #placesRef="ngx-places" 
            (onAddressChange)="handleAddressChange($event)" 
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
        
        <div class="col-md-1 col-3">
            <button class="btn btn-primary" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
        </div>
    </div>
  </form>
</div>


 
