<h2>Listings around {{address}}</h2>
<div class="row">
    <div class="col-md-4 col-12">
        <form [formGroup]="form" (ngSubmit)="submit()" style="background-color:rgb(240, 240, 240); padding:1em; border-radius: 10px;">
            <div class="row">
                <div class="col-12">
                    <h4>
                        Rooms and beds
                    </h4>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="formBedCount">Bed Count</label>
                                <input type="number" 
                                    class="form-control" 
                                    id="formBedCount" 
                                    min="0" 
                                    formControlName="bedCount"
                                    placeholder="Min beds"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="formBathCount">Bath Count</label>
                                <input type="number" 
                                    class="form-control" 
                                    id="formBedCount" 
                                    min="0" 
                                    formControlName="bathCount"
                                    placeholder="Min baths"/>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                Property type
                            </h4>
                            <div class="form-group">
                                <label for="formPropertyType">Property Type</label>
                                <select class="form-control" id="formPropertyType" formControlName="propertyType">
                                    <option value="">All</option>
                                    <option value="house">House</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="bnb">Bed and Breakfast</option>
                                    <option value="botique_hotel">Botique Hotel</option>
                                    <option value="bungalow">Bungalow</option>
                                    <option value="cabin">Cabin</option>
                                    <option value="cottage">Cottage</option>
                                    <option value="guest_house">Guest House</option>
                                    <option value="guest_suite">Guest Suite</option>
                                    <option value="hotel">Hotel</option>
                                    <option value="hostel">Hostel</option>
                                    <option value="loft">Loft</option>
                                    <option value="resort">Resort</option>
                                    <option value="serve_apartment">Serve Apartment</option>
                                    <option value="townhouse">Townhouse</option>
                                    <option value="villa">Villa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <h4>
                                Room type
                            </h4>
                            <div class="form-group">
                                <label for="formRoomType">Room Type</label>
                                <select class="form-control" id="formRoomType" formControlName="roomType">
                                    <option value="">All</option>
                                    <option value="shared">Shared</option>
                                    <option value="private">Private</option>
                                    <option value="entire">Entire Place</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>
                Sort by
            </h4>
            <div class="form-group">
                <label for="formSortBy">Sort by</label>
                <div class="row">
                    <div class="col-6">
                        <select class="form-control" id="formSortValue" formControlName="sortByValue">
                            <option value="date">Date Created</option>
                            <option value="price">Price</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <select class="form-control" id="formSortOrder" formControlName="sortByOrder">
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
    <div class="col-md-8 col-12">
        <div class *ngIf="listings.length==0 || !listings">
            <h3>There are no listings in the area.</h3>
        </div>
        <div class="container mb-3" *ngFor="let listing of listings">
            <div class="row py-1">
                <div class="col-md-4 col-12">
                    <div class="image-container">
                        <img class="image" src="https://picsum.photos/200/300">
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <h4>
                        <a routerLink="../listings/{{listing.id}}" class="text-secondary">
                            {{listing.name}}
                        </a>
                    </h4> 
                    <h6>{{listing.description}}</h6>
                    <p>
                        {{listing.max_guest}} guests · {{listing.bed_count}} beds · {{listing.bathroom_count}} bathrooms 
                    </p>
                    <strong class="card-text">Php{{listing.price_by_night}}/night</strong>
                </div>
            </div>
                
        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
        <button class="page-link disabled" *ngIf="page > 1" (click)="back()">Previous</button>
        </li>
        <li class="page-item disabled" *ngIf="page == 1">
        <button class="page-link" (click)="back()">Previous</button>
        </li>
        <li class="page-item" >
        <button class="page-link" (click)="next()">Next</button>
        </li>
    </ul>
    </nav>